@charset "UTF-8";
/*Reset*/
* {
  padding: 0;
  margin: 0;
}

/* Fuentes 
H1
font-family: 'Montserrat', sans-serif;
H2,H3
font-family: 'Cormorant Garamond', serif;
P
font-family: 'Mukta Vaani', sans-serif;
*/
h1 {
  font-family: var(--titulo-subtitulo);
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

h2 h3 a li {
  font-family: var(--h2-adelante);
  font-size: 1.5rem;
}

p {
  font-family: var(--parrafo);
}

/*Botones*/
.btn {
  display: flex;
  justify-content: center;
}

/*Enlaces*/
a {
  text-decoration: none;
  color: white;
}

/*Blog*/
/*Titulo*/
.titulo-blog {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0;
}

/*Intro descripción*/
.intro {
  text-align: center;
  margin: 15px auto;
  max-width: 600px;
  padding: 0 10px;
}

/*Imágenes*/
.container-img-blog {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}
.container-img-blog .img-fluid {
  object-fit: cover;
  box-shadow: 4px 8px 8px black;
}

/*Breadcrumbs*/
.breadcrumbs {
  list-style: none;
  width: 400px;
  height: 30px;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li::after {
  content: " >   ";
  color: black;
}
.breadcrumbs li:last-child::after {
  content: " ";
}
.breadcrumbs li a {
  color: rgb(64, 64, 250);
}
.breadcrumbs li a:hover {
  color: black;
}

.parrafo {
  text-align: center;
  margin: 15px auto;
  max-width: 1000px;
  padding: 0 10px;
}

/*Subtitulo primer parrafo*/
.text-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* Colores
$colores:(
    dominante:#AEEE97,
    segundo:#8DB07F,
    tercero:#E0F8D5,
    cuarto:#0056B0,
)
*/
:root {
  --titulo-subtitulo:"Montserrat", sans-serif;
  --h2-adelante: "Cormorant Garamond", serif;
  --parrafo:"Mukta Vaani", sans-serif;
}

/*Header*/
/*Backgroundcolor*/
.header-color {
  background-color: #AEEE97;
}

/*Logo*/
.logo {
  width: 50px;
  height: 50px;
}

/*Titulo principal*/
.titulo-principal {
  color: black;
  font-weight: 550;
}
.titulo-principal:hover {
  color: rgb(1, 65, 1);
}

/*Menu de navegacion*/
.navbar-nav {
  display: flex;
  gap: 20px;
  list-style-type: none;
  flex-wrap: wrap;
}
.navbar-nav li a {
  text-decoration: none;
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}
.navbar-nav li a:hover {
  color: rgb(250, 252, 250);
}

.gap-nav {
  gap: 50px;
}

.menu-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*Footer*/
.mapa {
  width: 500px;
  height: 300px;
}

#whatsappicon {
  font-size: 50px;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 1;
}

/*Index*/
/*Main*/
/*Background image*/
.hero {
  background-image: url(../../assets/f.jpg);
  padding-top: 280px;
  padding-bottom: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

.hero-parrafo {
  line-height: 1.8;
  padding-left: 50px;
  margin: 0;
  animation-name: parragraph;
  animation-duration: 3s;
  color: white;
  font-family: var(--h2-adelante);
}

/*   color: map-get($colores ,tercero);*/
/*Animation hero parragraph*/
@keyframes parragraph {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/*Segunda seccion*/
.segunda-seccion {
  background-color: #E0F8D5;
  display: flex;
  width: 100%;
  justify-content: center;
}
.segunda-seccion .row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-color-1 {
  background-color: #8DB07F;
  animation-name: up-card-1;
  animation-duration: 0.5s;
  animation-delay: 1s;
  position: relative;
  animation-timing-function: ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-color-2 {
  background-color: #8DB07F;
  animation-name: up-card-2;
  animation-duration: 1s;
  animation-delay: 1s;
  position: relative;
}

.card-color-3 {
  background-color: #8DB07F;
  animation-name: up-card-3;
  animation-duration: 1.5s;
  animation-delay: 1s;
  position: relative;
  animation-timing-function: ease;
}

/*Keyframe Cards*/
@keyframes up-card-1 {
  0% {
    left: 0px;
    top: 800px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes up-card-2 {
  0% {
    left: 0px;
    top: 800px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes up-card-3 {
  0% {
    left: 0px;
    top: 900px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
.card-img-container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-img-container img {
  width: 100%;
  height: 100%;
  background-position: center center;
}

.card-title {
  color: #E0F8D5;
  border-radius: 5px;
}

p {
  color: #E0F8D5;
  font-weight: 550;
}

.btn {
  background-color: #AEEE97;
}

a {
  color: black;
}

/*Tercera seccion*/
.tercera-seccion {
  background-color: #8DB07F;
  display: flex;
  width: 100%;
}

/*Cuarta seccion*/
.cuarta-seccion {
  background-color: #E0F8D5;
  display: flex;
  width: 100%;
}
.cuarta-seccion p {
  color: black;
}

/*Productos en tendencia*/
.tendencia {
  background-color: #AEEE97;
}
.tendencia h2 {
  font-family: var(--h2-adelante);
  text-align: center;
}

.productos-tendencia {
  background-color: #E0F8D5;
}
.productos-tendencia .card-productos-tendencia {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productos-tendencia .card-productos-tendencia img {
  width: 250px;
  height: auto;
}
.productos-tendencia .card-productos-tendencia h5 {
  font-family: var(--h2-adelante);
  font-weight: 700;
}
.productos-tendencia .card-productos-tendencia p {
  font-family: var(--parrafo);
  color: black;
  font-weight: 700;
}

.card-productos-tendencia:hover {
  box-shadow: -8px 10px 38px 11px rgba(0, 0, 0, 0.1);
  transition: 0, 5s;
}

/* Productos*/
.tituloprincipal2 {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin: 0;
}

.productos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: wrap;
}
.productos .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0056B0;
}
.productos .card h2 a {
  text-decoration: none;
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}
.productos .card h2 a:hover {
  color: rgb(1, 65, 1);
}
.productos .card img {
  height: 250px;
  width: 150px;
}

.imageninicio {
  width: 100%;
}

/*Contendor texto imagen*/
.parrafo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Botones*/
.contenedor-boton {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-success {
  color: white;
}
.btn-success:hover {
  color: black;
}

/*Recetas*/
.recetas {
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 5px 8px 12px black;
  margin: 50px px 10px;
}
.recetas .img-fluid {
  object-fit: cover;
}

.avena {
  width: 100%;
  height: 100%;
  background-size: contain;
  border-radius: 15px;
}

.cuadrado-imagen-avenas {
  background-color: rgb(0, 0, 0);
  color: white;
  position: absolute;
  width: 300px;
  height: 50px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  /*Pseudocódigo cuadrado-imagen*/
}
.cuadrado-imagen-avenas p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cuadrado-imagen-avenas p:hover {
  transform: scale(1.1);
  font-weight: lighter;
}

.cuadrado-imagen-burritos {
  background-color: rgb(0, 0, 0);
  color: white;
  position: absolute;
  width: 300px;
  height: 50px;
  top: 25%;
  left: 35%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  /*Pseudocódigo cuadrado-imagen*/
}
.cuadrado-imagen-burritos p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cuadrado-imagen-burritos p:hover {
  transform: scale(1.1);
  font-weight: lighter;
}

/*# sourceMappingURL=main.css.map */
