/*Footer*/
.mapa {
    width: 500px;
    height: 300px;
  }
  
  #whatsappicon {
    font-size: 50px;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 1;
  }
.colorfooter{
  background-color: map-get($colores,segundo);

}
.colorfooter2{
  background-color: map-get($colores,color-dominante);
}