
/*Header*/

/*Backgroundcolor*/
.header-color{
    background-color:map-get($colores, color-dominante);
}


/*Logo*/

.logo{
    width: 50px;
    height: 50px;
}
/*Titulo principal*/
.titulo-principal{
    color:black;
    font-weight: 550;
    &:hover{
        color: rgb(1, 65, 1);;
    }
}


/*Menu de navegacion*/
.navbar-nav{
    display: flex;
    gap: 20px;
    list-style-type: none;
    flex-wrap: wrap;
    li{
        a{
          text-decoration: none;
          color: black; 
          font-family: 'Cormorant Garamond', serif;
          font-weight: bold; 
       
        }
        a:hover{
            color: rgb(250, 252, 250);
        }
    }
}

.gap-nav{
    gap: 50px;
}
.menu-center{
    display: flex;
    justify-content: center;
    width: 100%;
}