
/*Header*/

/*Caja conteneddor logo-nombre*/
.contenedorlogo-nombre {
    display: flex;
    background-color: rgb(115, 185, 115);
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

/*Logo*/

.logo{
    width: 50px;
    height: 50px;
    position: relative;
    left: 20px;
}
/*Titulo principal*/
.titulo-principal{
    color:black;
    font-weight: 550;
    &:hover{
        color: rgb(1, 65, 1);;
    }
}


/*Menu de navegacion*/
.menu-navegacion{
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    li{
        a{
          text-decoration: none;
          color: black; 
          font-family: 'Cormorant Garamond', serif;
          font-weight: bold; 
       
        }
        a:hover{
            color: rgb(1, 65, 1);
        }
    }
}
