/*Reset*/
*{
    padding: 0;
    margin: 0;
    }


   /* Fuentes 
H1
font-family: 'Montserrat', sans-serif;
H2,H3
font-family: 'Cormorant Garamond', serif;
P
font-family: 'Mukta Vaani', sans-serif;
*/

h1{
    font-family: var(--titulo-subtitulo) ;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

h2 h3 a li{
    font-family: var(--h2-adelante);
    font-size: 1.5rem;
}

p{
    font-family: var(--parrafo);
}


/*Botones*/
.btn{
    display: flex;
    justify-content: center;
}

/*Enlaces*/
a{
text-decoration: none;
color: white;
}


/* Colores
$colores:(
    dominante:#AEEE97,
    segundo:#8DB07F,
    tercero:#E0F8D5,
    cuarto:#0056B0,
)
*/


:root{
    --titulo-subtitulo:'Montserrat', sans-serif;
    --h2-adelante: 'Cormorant Garamond', serif;
    --parrafo:"Mukta Vaani", sans-serif;
    
}

$colores:(
    color-dominante:#AEEE97,
    color-segundo:#8DB07F,
    color-tercero:#E0F8D5,
    color-cuarto:#0056B0,
    blanco:white,
    negro:black
)


