/*Reset*/
*{
    padding: 0;
    margin: 0;
    }

   /* Fonts*/ 

   /* Fuentes 
H1
font-family: 'Montserrat', sans-serif;
H2,H3
font-family: 'Cormorant Garamond', serif;
P
font-family: 'Mukta Vaani', sans-serif;
*/

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

h2 h3 a li{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
}
