
/*Index*/

/*Main*/
/*Background image*/

.hero{
    background-image:url(../../assets/f.jpg);
    padding-top: 280px;
    padding-bottom: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    
}

.hero-parrafo{
    line-height:1.8;
    padding-left: 50px;
    margin: 0;
    animation-name: parragraph;
    animation-duration: 3s;
    color: map-get($colores ,blanco);
    font-family:var(--h2-adelante) ;
}
/*   color: map-get($colores ,tercero);*/

/*Animation hero parragraph*/
@keyframes parragraph {
    0%   {opacity: 0;}
    25% {opacity:0.25;}
    50%   {opacity: 0.5;}
    75% {opacity:0.75}
    100% {opacity:1;}
}


/*Segunda seccion*/
.segunda-seccion{
    background-color:map-get($colores ,color-tercero);
    display: flex;
    width: 100%;
    justify-content: center;
    
    .row{
        width: 100%;
        display: flex;
        justify-content: center;
    
    }
}

.card-color-1{    
    background-color: map-get($colores ,color-segundo);
    animation-name: up-card-1;
    animation-duration: 0.5s;
    animation-delay: 1s;
    position: relative;
    animation-timing-function: ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    

}
.card-color-2{    
    background-color: map-get($colores ,color-segundo);
    animation-name: up-card-2;
    animation-duration: 1s;
    animation-delay: 1s;
    position: relative;
}
.card-color-3{    
    background-color: map-get($colores ,color-segundo);
    animation-name: up-card-3;
    animation-duration: 1.5s;
    animation-delay: 1s;
    position: relative;
    animation-timing-function: ease;
 
}

/*Keyframe Cards*/

@keyframes up-card-1 {
    0%   {left:0px; top:800px;}
    100% {left:0px; top:0px;}
}
@keyframes up-card-2 {
    0%   {left:0px; top:800px;}
    100% {left:0px; top:0px;}
}
@keyframes up-card-3 {
    0%   {left:0px; top:900px;}
    100% {left:0px; top:0px;}
}



    .card-img-container{
        height:300px;
        width: 100%;
        display: flex;
        justify-content: center;
        img{
            width:100%;
            height: 100%;
            background-position: center center;
        }
    }
   
    .card-title{
        color: map-get($colores,color-tercero);
        border-radius: 5px;
    }

    p{
        color: map-get($colores,color-tercero);
        font-weight: 550;
    }
    .btn{
        background-color: map-get($colores,color-dominante);
    }
    a{
        color: map-get($colores ,negro); 
    }

/*Tercera seccion*/
.tercera-seccion{
    background-color:map-get($colores ,color-segundo);
    display: flex;
    width: 100%;
}

/*Cuarta seccion*/
.cuarta-seccion{
    background-color:map-get($colores ,color-tercero);
    display: flex;
    width: 100%;
    p{
        color:map-get($colores,negro);
    }
}

/*Productos en tendencia*/

.tendencia{
    background-color: map-get($colores,color-dominante);
    h2{
        font-family:var(--h2-adelante);
        text-align: center;
    }
}
.productos-tendencia{
    background-color: map-get($colores,color-tercero);
    .card-productos-tendencia{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 250px;
            height: auto;
        }
        h5{
            font-family: var(--h2-adelante);
            font-weight: 700;
        }
        p{
            font-family: var(--parrafo);
            color:  map-get($colores,negro);
            font-weight: 700;
        }

    } 
   
}
.card-productos-tendencia:hover{
    box-shadow: -8px 10px 38px 11px rgba(0,0,0,0.1);
    transition: 0,5s;
}



/* Productos*/
.tituloprincipal2{
    display: flex;
    justify-content: flex-start;
font-size: 1.5rem;
    margin: 0;
}
.productos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        color:map-get($colores ,color-cuarto );
        h2{
            a{
                text-decoration: none;
                color: black;
                font-family: 'Cormorant Garamond', serif;
                font-weight: bold;

            }
            a:hover{
                color: rgb(1, 65, 1);
            }

        }
        img{
            height: 250px;
            width: 150px;
        }
        
    }
}

.imageninicio{
    width: 100%;
}

/*Contendor texto imagen*/
.parrafo1{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
/*Botones*/
.contenedor-boton{
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn-success{
    color: white;
    &:hover{
        color: black;
    }
}

