/*Recetas*/
.recetas{
    height: auto;
    position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 5px 8px 12px black;
  .img-fluid{
    object-fit: cover;
  }
  
}
.avena{
    width: 100%;
    height: 100%; 
    background-size: contain;
    border-radius: 15px;
}
.cuadrado-imagen-avenas{
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    width: 300px;
    height: 50px; 
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    
    /*Pseudocódigo cuadrado-imagen*/
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        &:hover{
            transform: scale(1.1);
            font-weight: lighter;
         
        }
        
    }
}
.cuadrado-imagen-burritos{
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    width: 300px;
    height: 50px; 
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    
    /*Pseudocódigo cuadrado-imagen*/
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        &:hover{
            transform: scale(1.1);
            font-weight: lighter;
         
        }
        
    }
}